header {
    position: relative;
    max-width: 960px;
    height: 270px;
    margin: 0 auto;
}

#wrap{
  margin:0 auto;
  text-align: center;
}

h1 {
  font-size:0.9em;
  margin:0px;
}

#menu {
  margin:0px;
  padding:0px;
  float: right;
}

#menu li {
  padding-left: 50px;
  float:left;
  list-style-type:none;
}

a {
  text-decoration: none;
}

img.zoom {
  width: 40%;
  height: 100%;
}

#about {
    max-width: 920px;
    width: 920px;
    margin: 0 auto 130px auto;
    padding: 0;
}

#skills {
    max-width: 920px;
    width: 920px;
    margin: 0 auto 130px auto;
    padding: 0;
}

#skills li{
  list-style-type:none;
}

#skills ul{
      padding-inline-start: 0px;
}

#works {
    max-width: 920px;
    width: 920px;
    margin: 0 auto 130px auto;
    padding: 0;
}

#works section {
    float: left;
    width: 280px;
    height: auto;
    margin-right: 40px;
}

#works section{
  float: left;
  width: 30%;
  height: auto;
  margin-right: 5%;
}

#works section.last {
    margin-right: 0;
}

#works section.last {
    margin-bottom: 0;
}

#works p{
  height:auto;
  height:100px;
  text-align: left;
}

#contact {
    max-width: 920px;
    width: 920px;
    margin: 0 auto 130px auto;
    padding: 0;
}

footer {
  clear:both;
  height:50px;
  text-align:center;
  font-size:0.85em;
  background-image:url(img/footer.gif);
  background-repeat:no-repeat;
  padding-top:30px;
  display:block;
}
