header {
    position: relative;
    max-width: 960px;
    height: 270px;
    margin: 0 auto;
}

#wrap{
  margin:0 auto;
  text-align: center;
}

h1 {
  font-size:0.9em;
  margin:0px;
}

#menu {
  margin:0px;
  padding:0px;
  float: right;
}

#menu li {
  padding-left: 50px;
  float:left;
  list-style-type:none;
}

a {
  text-decoration: none;
}

img.zoom {
  width: 40%;
  height: 100%;
}

#about {
    max-width: 920px;
    width: 920px;
    margin: 0 auto 130px auto;
    padding: 0;
}

#skills {
    max-width: 920px;
    width: 920px;
    margin: 0 auto 130px auto;
    padding: 0;
}

#skills li{
  list-style-type:none;
}

#skills ul{
      padding-inline-start: 0px;
}

#works {
    max-width: 920px;
    width: 920px;
    margin: 0 auto 130px auto;
    padding: 0;
}

#coontact {
    max-width: 920px;
    width: 920px;
    margin: 0 auto 130px auto;
    padding: 0;
}

#mainimg {
  width:960px;
  height:350px;
  float:left;
  margin:10px 0px 15px 0px;
}

#contents {
  width:615px;
  float:left;
}

#sidenavi {
  width:330px;
  margin-left:15px;
  float:left;
}

footer {
  clear:both;
  height:50px;
  text-align:center;
  font-size:0.85em;
  background-image:url(img/footer.gif);
  background-repeat:no-repeat;
  padding-top:30px;
  display:block;
}
