@charset "UTF-8";

/* main*/
body{
  width: 100%;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  font-size: 82px;
}

h2 {
  font-size: 36px;
  text-align: middle;
  padding: 90px 0 30px 0;
}

h2 img {
  width: 64px;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

#main{
  margin: 0 auto;
  padding: 0 0 0 0;
}

/* items link */

.items_link ul {
  margin: 1em 0 1em 0;
  padding: 0;
  text-align: center;
}

.items_link ul li{
  display: inline-block;
}

.items_link ul li a{
  font-size: 28px;
  text-align: middle;
  padding: 0 10px 0 10px;
}

.items_link .items_img{
  width: 32px;
  vertical-align: middle;
}

/* about */

.about > img{
  padding: 0 20px 0 0;
  border-radius: 50%;
  width: 256px;
  vertical-align: middle;
}

.about p{
  padding: 0 0 0 20px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* skills */

.skills .box {
    width: 660px;
    margin: 20px auto 20px auto;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

.box .box_title {
    font-size: 1.2em;
    background: gray;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.box p {
    padding: 15px 20px;
    margin: 0;
}

.box table{
  width: 100%;
  table-layout: fixed;
}

.box td{
  padding: 10px 10px 10px 10px;
}

.box ul{
  margin: auto;
  padding: 10px 0 10px 0;
}

.box ul li{
  padding: 0 0 10px 0;
}

/* works */

.works .works_contents{
  width: 660px;
  height: 300px;
  margin: 20px auto 20px auto;
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 120px 120px 120px;
}

.works .works_contents .contents1{
  grid-row: 1;
  grid-column: 1;
}

.works .works_contents .contents2{
  grid-row: 1;
  grid-column: 2;
}

.works .works_contents .contents3{
  grid-row: 1;
  grid-column: 3;
}

.works .works_contents .contents4{
  grid-row: 2;
  grid-column: 1;
}

.works .works_contents .contents5{
  grid-row: 2;
  grid-column: 2;
}

.works .works_contents .contents6{
  grid-row: 2;
  grid-column: 3;
}

/* achivements */

.achievemets .achievements_contents{
  width: 660px;
  margin: 20px auto 20px auto;
}

.timeline > li {
  overflow: hidden;
  margin: 0;
  position: relative;
}

.timeline-date {
  width: 110px;
  float: left;
  margin-top: 20px;
}

.timeline-content {
  width: 75%;
  float: left;
  border-left: 3px #e5e5d1 solid;
  padding-left: 30px;
}

.timeline-content:before {
  content: '';
  width: 12px;
  height: 12px;
  background: gray;
  position: absolute;
  left: 106px;
  top: 24px;
  border-radius: 100%;
}

/* contact */
.contact{
  margin-top: 120px;
  margin-bottom: 50px;
}

.contact .contact_contents{
  display: flex;
  justify-content: center; 
}

.contact .contact_contents div{
  padding: 5px 5px 5px 5px;
}

.contact .contact_contents img{
  width: 32px;
}
